@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center index-padding-top">
    <h1 class="display-4">Welcome to Your Personal Hub</h1>
    <p>My mission is to create a web app you can take anywhere! Have your your schedule, events, meetings</br> 
        and more, just a click away. Chat with freinds, connect your other apps and send documents all</br>  
        in one place. This app is all you need to stay connected and organzied.</p>
</div>
<div class="text-center signup-div">
    <h3>Start today</h3>
    <a asp-area="Identity" asp-page="/Account/Register"><button class="btn btn-blue text-light">Sign Up</button></a>
    </div>
<div class="text-center index-padding-top">
    <h2 class="display-4">How it works?</h2>
    <p>We use ASP.NET as the backend of our app and have the data flowing to Azure where we safely store</br> 
        all user information in an SQL database. We then query the data to display it in a table where </br>  
        we can make all CRUD changes and organize your workflow.</p>
        <p><b>Future Content Updates</b>
            
                </br>Calander
                </br>Chat
                </br>Google maps integration
                </br>Document Storage
                </br>Email updates
                </br>And More!
            
        </p>
</div>

