@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:wght@400;500&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

p, ul, ol, dl, dd, dt, li, th, td, a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.navbar .navbar-nav .nav-link {
    font-weight: 400;
    display: flex;
    padding-top: 92px;
}


body {
    height: 1200px;
}


a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f5f5f5;
}

.navbar-dark {
    background-color: #2C3333;
}

footer {
    background-color: #212529;
}

.nav-link {
    /*font-family: 'Ubuntu'; */
    font-family: Bebas Neue;
    font-weight: 400 !important;
    font-size: 25px !important;
    color: #556279!important;
}

.index-padding-top {
    padding-top: 50px;
    font-weight: 600;
}

.btn{
    margin-top:5px !important;
}

.btn-blue {
    background-color: #556279 !important;
}

.nav-link:hover {
    color: #9094A2 !important;
}

.footer-div {
    
}


